*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    max-width: 100vw;
    max-height: 100vh;
    // background-color: green;
    
}
.gridMap{
    // max-width: 100%;
    // height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    // background-color: green;

}