.mapContainer{
    height: 100%;
}
.mapStyle{
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
    background-color: white;
    width:fit-content;
    height:fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    z-index: 10;
    padding: 5px;
    cursor: pointer;
    &:hover{
        z-index: 100;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
    }
    p{
        white-space: wrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600;
    }
    img{
        width: 100%;
        object-fit: contain;


    }
}